body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile h2 {
    margin: 0;
    padding: 10px 0;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #4CAF50;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.actions button.edit-profile-btn {
    background-color: #007BFF;
}

.actions button.change-password-btn {
    background-color: #FFC107;
}
